@model WebApplication7.Models.ContactInfo

<form asp-action="Create" method="post">

    <input asp-for="FirstName" placeholder="First Name" />
    <input asp-for="LastName" placeholder="Last Name" />
    <input asp-for="EmailId" placeholder="Email" />
    <input asp-for="MobileNo" placeholder="Mobile" />
    <input asp-for="Designation" placeholder="Designation" />

    <input type="hidden" asp-for="CompanyId" value="1" />
    <input type="hidden" asp-for="DepartmentId" value="1" />

    <button type="submit">Save</button>

</form>