@model WebApplication7.Models.ContactInfo

<h2>Delete Contact</h2>

<div class="card p-4">
    <h4>Are you sure you want to delete?</h4>

    <p><b>@Model.FirstName @Model.LastName</b></p>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="ContactId" />
        <button class="btn btn-danger">Delete</button>
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </form>
</div>