@model ContactInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Contact</h2>

<form method="post" class="mt-3">

    <div class="mb-2">
        <label>ID</label>
        <input asp-for="ContactId" class="form-control" />
    </div>

    <div class="mb-2">
        <label>First Name</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Company</label>
        <input asp-for="CompanyName" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Email</label>
        <input asp-for="EmailId" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Mobile</label>
        <input asp-for="MobileNo" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Designation</label>
        <input asp-for="Designation" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="/Contact/ShowContacts" class="btn btn-secondary">Back</a>

</form>