body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: darkgreen;
}
p {
    font-size: 18px;
    color: #444;
}
.info-section {
    background-color: #e6f2ff;
    border: 2px solid blue;
    padding: 20px;
    margin: 20px;
}
.box-model-demo {
    background-color: lightyellow;
    border: 3px solid orange;
    margin: 30px;     
    padding: 20px;  
    text-align: center;
}

.form-section {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
input[type="password"], select {
    padding: 8px;
    width: 250px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    background-color: darkblue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: green;
}
