@model Student

<div class="container mt-4">
    <h2 class="text-center mb-4">Add Student</h2>

    <div class="card shadow p-4">
        <form method="post">
            
            <div class="mb-3">
                <label class="form-label">Student Name</label>
                <input asp-for="StudentName" class="form-control" placeholder="Enter name" />
            </div>

            <div class="mb-3">
                <label class="form-label">Select Course</label>
                <select asp-for="CourseId" asp-items="ViewBag.Courses" class="form-select"></select>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success">Save</button>
                <a href="/Student/Index" class="btn btn-secondary">Cancel</a>
            </div>

        </form>
    </div>
</div>