@model IEnumerable<Student>

<div class="container mt-4">
    <h2 class="text-center mb-4">Students</h2>

    <div class="text-end mb-3">
        <a href="/Student/Create" class="btn btn-primary">+ Add Student</a>
        <a href="/Student/Courses" class="btn btn-secondary">View Courses</a>
    </div>

    <table class="table table-bordered table-striped table-hover shadow">
        <thead class="table-dark">
            <tr>
                <th>Student Name</th>
                <th>Course</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StudentName</td>
                    <td>@item.Course.CourseName</td>
                </tr>
            }
        </tbody>
    </table>
</div>