<div class="container mt-5">
    <div class="card shadow p-4">

        <h2 class="text-center text-primary">Simple Calculator</h2>

        <form method="post" action="/Calculator/Add" class="mt-4">

            <div class="mb-3">
                <label>Number 1</label>
                <input type="number" name="num1" class="form-control" required />
            </div>

            <div class="mb-3">
                <label>Number 2</label>
                <input type="number" name="num2" class="form-control" required />
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success btn-sm">Add</button>
            </div>

        </form>

        @if (ViewData["Result"] != null)
        {
            <div class="alert alert-info text-center mt-4">
                <h4>Result: @ViewData["Result"]</h4>
            </div>
        }

    </div>
</div>